*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: black;
}

.page-header{
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: black; 
}

.header-logo{
    display: block;
}

.main-banner-desktop{
    display: block;
    width: 100%;
}

.top-infocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 0 0 ;
}

.top-infocard-text{
    max-width: 766px;
    margin-right: 10px;
}

.top-infocard-subtitle{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-title{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-description{
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image{
    padding-top: 66px;
    align-items: center;
}


.top-cards{
    padding: 200px 0;
    justify-content: center;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.top-card{
    padding: 26px 26px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image{
    display: block;
    margin: 26px;
}

.top-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.blank-space{
    background-color:#E0E0E0;
    margin-top: -120px;
    width: 100%;
    height: 350px;

}

.middle-banner-desktop{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    position: absolute;
    margin: -300px 30px 0;  
}

.middle-banner-image-desktop{
    display: block;
    padding: 10px;
    width: 100%;
    padding: -60px;
    
}

.bottom-cards{
    margin-top: 140px;
    padding: 50px;
    background: white;
    
}

.bottom-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content:center;
    gap:20px;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    padding: 26px 26px 34px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image{
    display: block;
    margin-bottom: 14px ;
}

.bottom-card-description{
    max-width: 368px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.bottom-infocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 142px 0 180px;
}
.bottom-infocard-div-desktop{
    max-width: 90%;
}

.bottom-infocard-image-desktop{
    padding-top: 20px;
    width: 100%;
}

.bottom-infocard-text{
    max-width: 550px;
    text-align: center;
}

.bottom-infocard-title{
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 1;
    line-height: 20px;
}

.bottom-infocard-description{
    font-size: 16px;
    line-height: 24px;
}

.page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: black; 
}

.footer-icons{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon{
    margin: 0 8px;
}

.footer-text{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

@media screen and (max-width: 414px){
    .main-banner-desktop,
    .middle-banner-desktop,
    .bottom-infocard-image-desktop{
        display: none;
    }
}

@media screen and (width: 425px){
        .middle-banner-image-desktop,
        .bottom-infocard-image-desktop{
            display: none;
    }
    
} 


@media  screen and (min-width: 415px) {
    .main-banner-mobile,
    .middle-banner-mobile,
    .middle-banner-mobile3{
        display: none;
    }   
}

@media screen and (max-width: 992px){
    .blank-space{
        margin: 0;
    }
    .main-banner-mobile{
        width: 100%;
    }
    
    .middle-banner-mobile{
        margin: -315px 15px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;

    }
    .middle-banner-image-mobile3{
        width: 96%;
    }
    .middle-banner-mobile3{
        margin-top: 340px;
        padding-left: 19px;
        width: 96%;
        display: flex;
        justify-content: center;
    }

    .middle-banner-image-mobile{
        width: 100%;
    }
    
    .top-infocard{
        flex-direction: column;
        padding: 84px 26px 158px;
    }

    .top-infocard-text{
        margin: 0 0 68px;
        text-align: center;
    }
    
    .top-infocard-subtitle{
        font-size: 20px;
    }

    .top-infocard-title{
        margin-bottom: 20px;
        font-size: 28px;    
    }

    .top-infocard-image{
        width: 100%;
        max-width: 240px;
    }
    
    .bottom-infocard{
        flex-direction: column;
        padding: 80px 0 136px;
    }

    .bottom-infocard-image-desktop,
    .middle-banner-image-desktop{
        display: none;
    }

    .bottom-infocard-text{
        padding: 0 26px;
    }

    .bottom-infocard-title{
        font-size: 24px;
    }
    .page-footer{
        padding-bottom: 26px;
    }
    .footer-text{
        text-align: center;
        max-width: 280px;
    }
}

@media screen and (max-width: 768px) {
    .top-cards{
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .bottom-cards{
        margin-top: 114px;
        padding: 0 26px;
    }

    .bottom-cards-wrapper{
        grid-template-columns: 1fr;
        gap:16px;
    }

    .bottom-card-description{
        font-size: 14px;
    }
    .middle-banner-mobile{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .bottom-infocard-image-mobile{
        width: 100%;
        }
    .bottom-infocard-text{
        margin-top: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .middle-banner-desktop{
        margin-top: -200px;

    }

    .blank-space{
        height: 200px;
    }
    .top-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .bottom-cards-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .bottom-card-description {
        max-width: 280px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1280px){
    .top-infocard-text{
        max-width: 520px;
        margin-right: 70px;
    }

    .bottom-infocard-image-desktop {
        max-width: 480px;
    }

    .bottom-infocard-text {
        max-width: 400px;
    }
    .bottom-infocard-image-mobile{
        display: none;
    }
}
@media screen and (min-width: 993px){
    .bottom-infocard-image-mobile{
        display: none;
    }
}